/* TODO: inserite il CSS necessario per completare il MHW! */

.choice-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}


.choice-grid div {
    box-sizing: border-box;
    width: 32.5%;
    border: solid #dcdcdc 1px;
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    
}

.choice-grid img{
    width: 100%;
 }

.question-name {
    background-size: 100% ; 
    background-repeat: no-repeat;
}

.question-name#w1 {
    background-image: url('./images/background-DragonBall.png');
    }

.question-name#w2 {
    background-image: url('./images/background-Simpson.jpg');}

.question-name#w3 {
    background-image: url('./images/background-Griffin.jpg');}


.choice-grid div:hover {
    background-color: #cfe3ff;
}

.scurisci{
    opacity: 0.6;
}

#chiusura {
    margin: 40px 20px 20px;
}

p{
    margin: 18px 0px;
}

#chiusura div{
    display: flex;
    background-color: #cecece;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#chiusura div:hover{
    background-color: #e0e0e0;
}

/*------------------------------------------------------MOBILE-------------------------------------------------------------------*/

@media (max-width: 700px){
    article{
        width: 95%;
    }

}
@media (max-width: 700px){
    header div{
        display: none;
    }
}

@media (max-width: 500px){
    .choice-grid div{
        width: 49%;
    }
}
/*aggiunto per sistemare le immagini*/
@media (max-width: 500px){
    .question-name{
        height: 40%;
    }
}
